@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005c51;
    background-attachment: fixed;
    flex-direction: column;
}

h1,
h2,
p{
    color: rgb(255, 255, 255);
    margin: .5em;
    cursor: context-menu;
    transition: 1s all;
}

h1{
    font-size: 3.5em;
}

h2{
    font-size: 2.5em;
}

p{
    font-size: 1em;
}

h1:hover,
h2:hover,
p:hover{
    transform: scale(1.1);
}

figure{
    display: flex;
    align-items: center;
}

img{
    width: 20em;
    margin: .5em;
    animation: float .5s ease-in-out infinite;
    transition: 1s all;
}

img:hover{
    border-radius: 10em;
}

@keyframes float{
    0%{
        transform: translateX(-1em);
    }
    50%{
        transform: translateX(1em);
    }
    100%{
        transform: translateX(-1em);
    }
}


button{
    padding: .6em;
    margin: 1em 0 1.5em 0;
    font-size: .9em;
    transition: 0.30s;
    cursor: pointer;
    background: none;
    border: 0.1em solid rgb(255, 255, 255);
    line-height: 1;
    color: rgb(255, 255, 255);
}

button:hover, button:focus{
    font-size: 1em;
    border: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

button:hover,
button:focus{
    box-shadow: 0 0.5em 0.5em -0.4em rgb(89, 169, 235);
    transform: translateY(-0.25em);
}

@media(max-width: 2560px){
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 3em;
    }
    p{
        font-size: 2em;
    }
    img{
        width: 30em;
    }
    button{
        font-size: 1.5em;
    }
}

@media(max-width: 1440px){
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    p{
        font-size: 1.5em;
    }
    img{
        width: 20em;
    }
    button{
        font-size: 1em;
    }
}

@media(max-width: 425px){
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1em;
    }
    p{
        font-size: 1em;
    }
    img{
        width: 10em;
    }
    button{
        font-size: 1em;
    }
}

@media(max-width: 320px){
    p{
        font-size: .9em;
    }
    img{
        width: 8em;
    }
}